.inner {max-width: 1220px; width: 100%; padding: 0 10px; margin: 0 auto;}
.navList {
    display: flex;
    li {
        a {
            display: flex; align-items: center; justify-content: center;
        }
    }
}


.header {
    height: 6rem;
    border-bottom: 1px solid #ddd;
    .inner {
        height: 100%;
        .nav {
            height: 100%; 
            .navList {
                height: 100%;
                li {
                    height: 100%;
                    a {
                        height: 100%; padding: 0 1.5rem;
                    }
                }
            }
        }
    }
}

.subPage {
    padding: 2rem 0;
}